<div class="page-width page-content">

  {%- render 'breadcrumbs' -%}

  <header class="section-header text-center{% if cart.item_count == 0 %} section-header--404{% endif %}">
    <h1 class="section-header__title">{{ 'cart.general.title' | t }}</h1>
    <div class="rte text-spacing">
      {%- if cart.item_count == 0 -%}
        <p>{{ 'cart.general.empty' | t }}</p>
      {%- endif -%}
      <p>{{ 'cart.general.continue_browsing_html' | t: url: routes.all_products_collection_url }}</p>
    </div>
  </header>

  {%- if cart.item_count > 0 -%}
    <form action="{{ routes.cart_url }}" method="post" novalidate data-location="page" id="CartPageForm">
      <div class="cart__page">
        <div data-products class="cart__page-col tw-overflow-hidden">
          {% for item in cart.items %}
            {%- render 'cart-item', product: item -%}
          {%- endfor -%}
        </div>
        <div class="cart__page-col">
          {% if settings.cart_notes_enable %}
            <div>
              <label for="CartNote">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="input-full cart-notes" id="CartNote">{{ cart.note }}</textarea>
            </div>
          {% endif %}

          <div data-discounts>
            {% if cart.cart_level_discount_applications != blank %}
              <div class="cart__discounts cart__item-sub cart__item-row">
                <div>{{ 'cart.general.discounts' | t }}</div>
                <div class="text-right">
                  {% for cart_discount in cart.cart_level_discount_applications %}
                    <div class="cart__discount">
                      {{ cart_discount.title }} (-{{ cart_discount.total_allocated_amount | money }})
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>

          {%- liquid 
            assign total_discount = 0
            for item in cart.items
              if item.product.compare_at_price > 0
                assign discount = item.product.compare_at_price | minus: item.product.price
                assign discount = discount | times: item.quantity
                assign total_discount = total_discount | plus: discount
              endif
            endfor

            if cart.total_price > settings.cart_free_shipping_threshold
              assign shipping_value = 'cart.general.shipping_free' | t
              assign cart_total = cart.total_price
            else 
              assign shipping_value = settings.cart_shipping_price
              assign cart_total = cart.total_price | plus : shipping_value 
            endif
          -%}

          <div class="cart__item-sub cart__item-row">
            <div>{{ 'cart.general.subtotal' | t }}</div>
            <div data-subtotal>{{ cart.total_price | money }}</div>
          </div>

          <div class="cart__item-sub cart__item-row">
            <div>{{ 'cart.general.shipping' | t }}</div>
            <div data-shipping-price>{{- shipping_value -}}</div>
          </div>
          
          <div style='border-top: 1px solid black; padding-top: 10px;' class="cart__item-sub cart__item-row tw-pt-2.5">
            <div>{{ 'cart.general.total' | t }}</div>
            <div class='tw-font-bold' data-total>{{ cart_total | money }}</div>
          </div>
          
          <div data-discount-wrapper class="cart__item-sub !tw-mb-0 cart__item-row cart__items-total-discount {% if total_discount == 0 %} cart__items-total-discount--hidden {% endif %}">
            <div >{{ 'cart.general.discount_total' | t }}</div>
            <div data-discount>{{- total_discount | money -}}</div>
          </div>

          <p class='tw-text-xs tw-opacity-75'>{{- 'cart.general.discount_note' | t -}}</p>

          {% if settings.cart_terms_conditions_enable %}
            <div class="cart__item-row cart__terms">
              <input type="checkbox" id="CartTerms" class="cart__terms-checkbox">
              <label for="CartTerms">
                {% if settings.cart_terms_conditions_page != blank %}
                  {{ 'cart.general.terms_html' | t: url: settings.cart_terms_conditions_page.url }}
                {% else %}
                  {{ 'cart.general.terms' | t }}
                {% endif %}
              </label>
            </div>
          {% endif %}

          {%- liquid 
            assign threshold = settings.cart_free_shipping_threshold | money_without_currency | replace: ',', '.'
            assign total_price = cart.total_price | money_without_currency | replace: ',', '.'
            assign amount_to_go = threshold | minus: total_price | times: 100 | money
            assign percentage = total_price | divided_by: threshold | times: 100 | round: 2
            if percentage > 100
              assign percentage = 100
            endif 
          -%}

          {%- if settings.cart_free_shipping_threshold -%}
            <div data-shipping-wrapper class="tw-text-center tw-mb-3 tw-text-[12px] tw-gap-y-2 tw-flex tw-flex-col {% if percentage == 100 %} free-shipping {% endif %}">
                <small data-shipping-text class='tw-text-[12px] [.free-shipping_&]:tw-hidden'>{{- 'cart.general.shipping_treshold' | t: amount_to_go: amount_to_go -}}</small>
                <small class='tw-text-[12px] tw-hidden [.free-shipping_&]:tw-block'>{{- 'cart.general.shipping_free' | t -}}</small>
              <div class="tw-h-1 tw-w-full tw-bg-black/10"><div class='tw-bg-black tw-h-full tw-w-2/3 tw-transition-all tw-duration-300' data-shipping-progress style="width: {{ percentage | append: '%' }}"></div></div>
            </div>
          {%- endif -%}

          <div class="cart__item-row cart__checkout-wrapper">
            <button type="submit" name="checkout" data-terms-required="{{ settings.cart_terms_conditions_enable }}" class="btn cart__checkout">
              {{ 'cart.general.checkout' | t }}
            </button>

            {% if additional_checkout_buttons and settings.cart_additional_buttons %}
              <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
            {% endif %}
          </div>

          <div class="cart__item-row text-center">
            <small>
              {{ 'cart.general.shipping_at_checkout' | t }}<br />
            </small>
          </div>
          <div class="cart__payments">
            {%- for payment in shop.enabled_payment_types -%}
              {%- liquid 
                assign payment_string = 'payment_' | append: payment | append: '.png'
                assign payment_icon = payment_string | asset_img_url: 'thumb'
              -%}
              <img width='20' height='20' onerror="this.style.display='none'" class="cart__payment-icon" loading='lazy' src='{{- payment_icon -}}'>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </form>
    {%- if settings.cart_upsell -%}
      <cart-upsell-slider class='tw-w-full tw-block lg:tw-w-[65%] lg:tw-pr-[100px]'>
        <h4 class='tw-uppercase tw-mt-4 tw-text-center'>{{- settings.cart_upsell_title -}}</h4>
        <div data-upsell-slider class='keen-slider'>
        <button type="button" data-prev class="tw-absolute tw-left-0 lg:tw-left-6 tw-top-1/2 tw-translatey-y-1/2 tw-z-10">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98"><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"/></svg>
        </button>
          <button type="button" data-next class="tw-absolute tw-right-0 lg:tw-right-6 tw-top-1/2 tw-translatey-y-1/2 tw-z-10">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"/></svg>
          </button>
      {%- for product in settings.cart_upsell.products -%}
        {%- assign skip_product = false -%}
        {%- for cart_item in cart.items -%}
          {%- if cart_item.id == product.id -%}
            {%- assign skip_product = true -%}
          {%- endif -%}
        {%- endfor -%}
        {%- unless skip_product or product.selected_or_first_available_variant.available == false -%}
          <cart-upsell-item class='keen-slider__slide tw-flex tw-justify-center'>
            <div class='tw-justify-center tw-max-w-lg tw-w-full tw-p-2 tw-flex tw-flex-row'>
              <a class='tw-block tw-mr-2' href='{{ product.url }}'>
                {{- product.featured_image | image_url: width: 150 | image_tag -}}
              </a>
              <div data-form class='tw-flex tw-flex-col tw-flex-1'>
                <a class='tw-block tw-mb-1.5' href='{{ product.url }}'>{{ product.title }}</a>
                <div class='tw-flex tw-flex-row tw-items-center tw-mb-2'>
                  {%- if product.compare_at_price > product.price -%}
                    <small class="cart__price cart__price--strikethrough tw-mr-1">
                      {{ product.compare_at_price | money }}
                    </small>
                  {%- endif -%}
                  <span class="cart__price cart__discount">
                    {{ product.price | money }}
                  </span>
                </div>
                <input data-variant-id value='{{- product.selected_or_first_available_variant.id -}}' hidden  >
                <a type='submit' data-add-to-cart class='add-to-cart tw-cursor-pointer  tw-flex tw-justify-center tw-items-center tw-p-1 btn--secondary tw-mt-auto'>
                  Add
                </a>
              </div>
            </div>
          </cart-upsell-item>
          {%- endunless -%}
        {%- endfor -%}
        </div>
      </cart-upsell-slider>
    {%- endif -%}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-cart.name"
}
{% endschema %}
